terraform/.terraform
terraform/.terraform.*
terraform/terraform.tfstate*
*.pub
cloudinit/*.img
cloudinit/*.manifest
cloudinit/*.env
terraform/plans/*
keys/*
cloudinit/keys/*.pub
.claude
moxcloud-install.sh
